.container{
  display: flex;
  height: 100vh;
}

.input-area{
  display: flex;
  margin-left: 65px;
  margin-top: 9px ;
  font-family:sans-serif ;}
.texto{
  margin-left: 100px;
  margin-top:80px;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}
.card {
  width: 400px;
  height: 515px;
  margin-top: 75px;
  margin-left: 4%;
  margin-bottom:20px;;
  box-shadow: 0px 0px 15px #585858,
  125px -15px 30px #ffffff;
  border-radius: 3%;
  /* color: darkgoldenrod; */
}
.tipo{
    margin-left: 35px;
    font-weight: bold;

}
.card-info{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 70%;
  align-self: flex-start;
  color: black;
  font-family: sans-serif;
  font-size: medium;
  font-weight:bolder;
   /* color:gold;  */
}
.card-image{
  background-color: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
 
}
/* .card-image:hover img{

} */
.card-image>img{
  position: absolute;
  top: 80px;
  height: 180px;
  width: 180px;
  transition: 1s;
  cursor: pointer;
  transition: 1.3s;
}
.btn-shiny{
  position:absolute;
  left: 25px;
  top: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  cursor: pointer;;
  border-radius: 4px;
}
.aviso-shiny{
  bottom:260px;
  position: absolute;
  color: black;
  font-family: sans-serif;
  margin-left: 115px;
  }
  

