.container{
  display: flex;
  height: 100vh;
}

.input-area{
  display: flex;
  margin-left: 65px;
  margin-top: 9px ;
  font-family:sans-serif ;

}
.texto{
  margin-left: 100px;
  margin-top:80px;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}
.card {
  width: 400px;
  height: 515px;
  margin-top: 75px;
  margin-left: 4%;
  margin-bottom:20px;;
  box-shadow: 0px 0px 15px #585858,
  125px -15px 30px #ffffff;
  border-radius: 3%;
}
.tipo{
    margin-left: 35px;

}
.card-info{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 70%;
  align-self: flex-start;
  color: black;
  font-family: sans-serif;
  font-size: larger;
  font-weight:bolder;
}
.card-image{
  background-color: #000;
}
.card-image>img{
  position: absolute;
  left: 565px;
  top: 30%;
  height: 180px;
  width: 180px;
}

